body {
    background-color: #181D31;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;

}
/*----------------------------calculator shape---------------------------*/

.calculator-shape{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-top: 30px;
    background-color:#F6F4EB;
    width: 400px;
    height: 600px;
    border: 3px solid #D3E4CD;
    border-radius: 18px;
    box-shadow: 0 0 0 #99A799, 5px 0 5px #99A799, 10px 5px 5px #99A799, -5px 0 5px #99A799;
    
}
/*-----------------------------screen---------------------------*/

.screen{
    margin-top: 40px;
    padding: 10px 0;
    width: 280px;
    height: 18%;
    border-style: solid;
    border-width: 30px 20px 30px 20px;
    border-color: #434242;
    border-radius: 15px;
    background-color: #CAE4DB;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    gap: 30px;
    
    
}



.expression, .input_value{
    margin-right: 10px;
    font-size: 26px;
    display: flex;
    gap: 5px;
    
}
.expression div{
    font-size: clamp(16px, 50%, 26px)
}

/*-----------------------------------Buttons--------------------------*/

.buttons, .share_add_button{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button, .add{
    width: 60px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid grey ;
    box-shadow: 4px -2px 5px #99A799;
    font-size: 24px;
    background-color: #434242;
    color: white;
    cursor: pointer;
}

.row_four_buttons, .line4, .line5, .two_final_rows{
    display: flex;
    gap: 22px;
}

.add{
    width: 60px;
    height: 125px;
}

.footer{
    font-size: 18px;
    color: white;
}

